body {
  font-size: large;
  padding: 0 10%;
  background-color: #e6e6e6;

}

h1 {
  font-size: 300%;
  font-family: impact, sans-serif;
}

li {
  line-height: 25px;
}

img {
  display: block;
  margin: 0 auto;
}

.red {
  color: red;
}

.center {
  text-align: center;
}

.shadow {
  text-shadow: 0 0 50px black;
}
